.sideNavbar {
    flex: 0.2;
    min-width: 200px;
    border-right: 1px dotted rgb(7, 78, 49);
    height: 100vh;
    
}
.sideNavbar___logo {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;  
}

.sideNavbar__header{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: #DDDDDD;
    margin-left: 10px ;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 600;

}

.sideNavbar__option  {
  margin: 0;
}

.sideNavbar__option >  li  {
    list-style: none;
    padding: 0 20px;
    display: block;
   
}

.sideNavbar__option >  li > .mlink{
    width: 100%;
    display: flex;
    text-decoration: none;
   margin-bottom: 5px;
   color: #00AB55;
   font-weight: 600;
   align-items: center;
   padding: 0;
   
}
.sideNavbar__option >  li > .active {
    background-color: #E5F3EE;
}
.sideNavbar__option >  li > .mlink:hover {
    background-color: #E5F3EE;
    cursor: pointer !important;
}

.sideNavbar__option__icon {
    padding:  5px;
    margin-bottom: 5px;
    
}

.sideNavbar__option__title {
    padding: 5px;
    margin-bottom: 5px;
}