.header {
    
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid gray;
    

   
}

.header__leftOption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__leftOption > input {
    border: none;
    padding: 6px 0;
    min-width: 350px;
    background-color:none;
}

