.sideNavbarOption {
    display: flex;
   align-items: center;
   padding: 10px 20px;
   cursor: pointer;

   
}

.sideNavbarOption > h2 {
    color: rgb(49, 49, 49);
    font-size: 14px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}


.sideNavbarOption:hover {
    background-color: #FFE194;
    color: #FFB319;
    
}